<h2>Register</h2>
<%= form_for(@student) do |f| %>
    <% if @student.errors.any? %>
        <div id="error_explanation">
            <h2>There were some errors:</h2>
                <ul>
                <% @student.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
        </div>
    <% end %>
    <div class="form"><%= f.label :name %></div>
    <div class="form<%= ' form_with_errors' if @student.errors[:name].any? %>">
        <%= f.text_field :name %>
    </div>

    <div class="form"><%= f.label :email %></div>
    <div class="form<%= ' form_with_errors' if @student.errors[:email].any? %>">
        <%= f.email_field :email %>
    </div>

    <div class="form"><%= f.label :password %></div>
    <div class="form<%= ' form_with_errors' if @student.errors[:password].any? %>">
        <%= f.password_field :password %>
    </div>

    <div class="form"><%= f.label :password_confirmation %></div>
    <div class="form<%= ' form_with_errors' if @student.errors[:password_confirmation].any? %>">
        <%= f.password_field :password_confirmation %>
    </div>
  
    <%= f.submit "Register"%>
<% end %>