<h2>Upcoming Classes</h2>
<ul>
    <% @workout_classes.each do |c| %>
        <li class="list">
        <%= c.name %> with <%= c.instructor.name %> on <%= c.date %> at <%= c.time %>
        </li>
    <% end %>
</ul>

  <%# <li><%= link_to display_artist(song), artist_songs_path(song.artist) %>  
  <%# <%= link_to song.title, song_path(song)</li> %> 
