<h2>Upcoming Classes</h2>
<ul>
    <% @workout_classes.each do |c| %>
        <li class="list">
        <%= link_to c.name, workout_class_path(c) %> with <%= link_to c.instructor.name, instructor_path(c.instructor) %> on <%= c.date %> at <%= c.time %>
        <a><%= link_to 'Sign Up', signup_path(c) %></a>
        </li>
    <% end %>
</ul>