<!DOCTYPE html>
<html>
  <head>
    <title>Admin Sweat Workout Studio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar" role="navigation">
      <div class="navbar-header">Admin Sweat Workout Studio</div>
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          </button>
        <a class="navbar-brand" href="<%= admin_home_path %>">Workout Classes</a>
        </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>